* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  img {
	padding: 20px;
	padding-bottom: 30px;
  }

  .imagen-derecha {
		float: right;
		margin: 0 0 10px 10px;
		width: 200px;
		margin-bottom: 20px; /* Agrega un margen inferior de 20 píxeles */
	}

	.pasteleraimg{
		width: 400px;
		display: block;
		margin: 0 auto;
	}

  body {
	font-family: Arial, sans-serif;
	background-image: url('fondo.jpeg'); 
	  
  }

  header {
	background-color: #f8d2a3;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  section{
	padding: 5px;
  }

  #about-me{
	padding-bottom: 3em;
  }

  div{
	padding: 10px;
  }
  
  #menu {
	margin-bottom: 160px;
  }

  #menu li img {
    max-width: 100%;
    height: auto;
	padding: 5px;
	margin-top: 20px; /* Agrega un margen superior de 20 píxeles */
	
}

#valor {
	padding-top: 30px;
	font-weight:initial;
	font-size: 1.2em;
	  
	  
}

#pdfBtn {
	background-color: #3ce5ddce;
	color: #070707;
	border: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
}

#pdfBtn:hover {
	background-color: #18bac3c8;
	color: #fff;
}


  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li { 
    padding: 0;
    margin-inline: 1rem;
}
  
  nav a {
	text-decoration: none;
	color: #333;
  }
  
  nav a:hover {
	color: #666;
  }
  
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2em;
  }
  
  section {
	margin-bottom: 3em;
  }
  #Hagasupedido{
	padding: 10%;
	background-color: #f6838339;
  }
  

 #contact{
	
	padding: 10%;
	background-color: #f6838339;
 }


  .image-container {
	display: flex;
	
  }
  .image-container img {
	border: 2px solid black;
  }
  
  .item {
	width: 300px;
	height: 400px;
	
	margin-right: 20px;
	border-bottom: 200px;border-bottom: 200px;
	  
  }
  
  .item img {
	width: 100%;
	height: 70%;
	object-fit: cover;
  }
  
  h2 {
	margin-top: 2em;
	font-size: 2em;
	margin-bottom: 1em;
  }

  h4{ padding: 1px;

  }
  
  ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
  }
  
  li {
	/* margin-right: 2em;
	margin-bottom: 2em; */
	/* width: calc(100% / 3 - 2em);  dividir en tres y restar el margen derecho */
	display: inline-block; /* mostrar elementos en línea */
	vertical-align: top; /* alinear las imágenes en la parte superior */
  }
  
  li h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
  }
  
  li p {
	font-size: 1.2em;
	margin-bottom: 1em;
  }
  
  li button {
	background-color: #f8d2a3;
	color: #030303;
	border: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
  }
  
  li button:hover {
	background-color: #f6c283;
	color: #fff;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }

  .formpedido{
	padding: 10%;
	background-color: #f6838339;
  }
  
  label {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	margin-top:14px ;
  }

  #torta{
	background-color: #e222b594;
	color: #020101;
	border: none;
	padding: 1em 1em;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
  }

  input,
  textarea {
	padding: 0.5em;
	margin-bottom: 1em;
	border-radius: 5px;
	border: none;
	font-size: 1.2em;
  }
  
  button[type="submit"] {
	background-color: #f8d2a3;
	color: #333;
	border: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #f6c283;
	color: #fff;
  }
  
  footer {
	background-color: #f8d2a3;
	text-align: center;
	padding: 1em;
	margin-top: 3em;
  }

#listaErrores, #errores-contacto {
	margin-top: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(154, 22, 22);
	gap: 10px;
}